{% extends 'base.html' %}
{% block title %}Add task{% endblock %}
{% block header %}Create New Task{% endblock %}
{% block content%}
<form class="row g-3" method="post">
    <div class="col-md-6">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="col-md-6">
        <label for="task" class="form-label">Task</label>
        <input type="text" class="form-control" name="task" id="task">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}