{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Edit "{{ task['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="title">Title</label>
        <input name="title" type="text" id="title" value="{{ request.form['title'] or task['title'] }}" required>
        <label for="task">Task</label>
        <textarea name="task" id="task" cols="30" rows="2">
            {{ request.form['task'] or task['task'] }}
        </textarea>
    </form>
    <hr>
    <form action="{{ url_for('tasks.delete', id=task['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}